{% extends 'base.html.twig' %}

{% block title %}Ajouter contact{% endblock %}

{% block content %}
    <div class="container well well-sm" style="width: 500px; margin: 0 auto; margin-top: 20px">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-btn fa-user"></i> Enregistrer
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
         $( "#appbundle_contact_Valider email" ).prop("type", "text");
         $(".valider_email").on("click",function(e) {
            e.preventDefault();
             $.ajax({
                 url: "{{path('valider_email')}}",
                 data: {email: $( "#appbundle_contact_email" ).val()},
                 success: function(response) {
                      if(response == 1)
                        $( "#appbundle_contact_email" ).css("border", "1px solid #008000");
                      else if (response == 0) {
                        alert("Email nom valide")
                        $( "#appbundle_contact_email" ).css("border", "1px solid red");
                    }
                  }
             });
          });
      });
    </script>

{% endblock %}
